.ui-li-thumb, .ui-li-icon
{
	left:1px;
	max-height:200px;
	max-width:200px;
	position:absolute;
	top:10px;
}

.ui-li-static{
   font-size:30px;
}

.info_contact
{
	border: 1px solid #000000;
	margin: 5px;
}

.apercu_objet
{
	height:60px;
	width:60px;
	margin-top:0px;
}

/* photo du contact sélectionné dans la page contact.html */
.photo_contact
{
	width: 128px;
	height: 128px;
	border: 1px solid #000000;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

.liste
{
	clear: left;
}

.photo_jeu
{
	width: 192px;
	height: 192px;
	border: 1px solid #000000;
	margin: 15px auto 0 auto;
	display: block;
}

h2
{
	text-align:center;
}

h1
{
	margin-top:0px;
	margin-bottom:5px;
}
