.ui-li-thumb, .ui-li-icon
{
	left:1px;
	max-height:200px;
	max-width:200px;
	position:absolute;
	top:0px;
}

.photo
{
	width: 200px;
	height: 200px;
}

.info_contact
{
	border: 1px solid #000000;
	margin: 5px;
}

/* photo du contact sélectionné dans la page contact.html */
.photo_contact
{
	width: 128px;
	height: 128px;
	border: 1px solid #000000;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

.liste
{
	clear: left;
}

.photo_jeu
{
	width: 192px;
	height: 192px;
	border: 1px solid #000000;
	margin: 15px auto 0 auto;
	display: block;
}

p
{
	text-align:center;
	font-size:50px;
	font-weight:bold;
}
